body {
    font-family: 'Arial', sans-serif;
}

header {
    background: url('assets/hero.jpg') no-repeat center center / cover;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#about img {
    max-width: 100%;
    border: 5px solid #ddd;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: #fff;
}
